
<br>
<table>
  <tr>
    <th style=" text-align: left;">フォロワー</th>
  </tr>
  <% @user.followers.each do |followed| %>
    <tr>
      <td><%= link_to followed.name, followed %></td>
    </tr>
  <% end %>
</table>