<br>
<table>
  <tr>
    <th style=" text-align: left;">フォロー</th>
  </tr>
  <% @user.following.each do |follow| %>
    <tr>
      <td><%= link_to follow.name, follow %></td>
    </tr>
  <% end %>
</table>