<h1>ユーザー一覧じゃい</h1>
<br>
<table>
  <th>メルアド</th>
  <% @users.each do | user |%>
    <tr>
      <td><%= user.email if not user.admin? %></td>
      <td>
        <%= render 'follow_form', user: user %>
      </td>
    </tr>
  <% end %>
</table>
