<h1>マイページ</h1>
<table>
  <tr>
    <th style=" text-align: left;">フォロー</th>
  </tr>
  <% @user.following.each do |follow| %>
    <tr>
      <td><%= follow.email %></td>
    </tr>
  <% end %>
</table>
<br>
<table>
  <tr>
    <th style=" text-align: left;">フォロワー</th>
  </tr>
  <% @user.followers.each do |followed| %>
    <tr>
      <td><%= followed.email %></td>
    </tr>
  <% end %>
</table>