<div class="progress-percentage text-xs-center"><%= (daily_task_terminate_count.to_i*100/daily_task_max_count.to_i).floor %>%</div>
<progress class="progress progress-striped" max="100" value=<%= (daily_task_terminate_count.to_i*100/daily_task_max_count.to_i).floor %>></progress>
